body {
  background-color: rgb(30, 0, 0);
  color: rgb(63, 33, 33);
  font-family: monospace;
  animation: color-cycle-bright 3s infinite;
  font-size:16px;
  overflow: hidden;
}

pre {
  position: absolute;
  color: black;
}

a {
  color: rgb(44, 188, 255);
}

a:hover {
  color: lightblue;
}

@keyframes floating {
  0% { transform: translate(0px, -8px);}
  25% { transform: translate(8px, 0px)}
  50% { transform: translate(0px, 8px)}
  75% { transform: translate(-8px, 0px)}
  100% { transform: translate(0px, -8px);}
}
@keyframes floating2 {
  0% {transform: scale(-1,1);}
  50% {transform: scale(-1.1,1);}
  100% {transform: scale(-1,1);}
  /* 0% { transform: translate(0px, -8px), scale(-1,1);}
  25% { transform: translate(8px, 0px), scale(-1,1);}
  50% { transform: translate(0px, 8px), scale(-1,1);}
  75% { transform: translate(-8px, 0px), scale(-1,1);}
  100% { transform: translate(0px, -8px), scale(-1,1);} */
}


@keyframes color-cycle-bright {
  0% { color: rgb(255, 132, 153);}
  20% { color: yellow;}
  40% { color: lightgreen;}
  60% { color: lightskyblue;}
  80% { color: violet;}
  100% { color: rgb(255, 132, 153);}
}

@keyframes red-cycle {
  0% { color: rgb(255, 132, 153);}
  50% { color: rgb(255, 30,30);}
  100% { color: rgb(255, 132, 153);}
}


@keyframes yellow-cycle {
  0% { color: rgb(255, 253, 159); }
  50% { color: rgb(255, 174, 0); }
  100% { color: rgb(255, 253, 159);}
}

@keyframes green-cycle {
  0% { color: rgb(153, 255, 132);}
  50% { color: rgb(49, 175, 112);}
  100% { color:rgb(153, 255, 132);}
}

@keyframes blue-cycle {
  0% { color: rgb(78, 190, 255); }
  50% { color: rgb(0, 89, 255); }
  100% { color: rgb(78, 190, 255);}
}
@keyframes cloud-drift {
  0% { transform: translate(-20px, 0)}
  50% { transform: translate(20px, 0)}
  100% { transform: translate(-20px, 0)}
}

@keyframes bob {
  0% { transform: translate(0,-4px);}
  50% { transform: translate(0, 4px);}
  100% { transform: translate(0,-4px);}
}

@keyframes spin {
  0% { transform: rotate(-30deg)}
  50% { transform: rotate(30deg)}
  100% { transform: rotate(-30deg)}
}

#column {
  width:900px;
  margin:0 auto;
  height:800px;
  position: relative;
}

#left-guy {
  position: absolute;
  width:300px;
  height:300px;
  font-weight: bold;
}


#right-guy {
  position: absolute;
  width:300px;
  height:300px;
  font-weight: bold;
}

#heart {
  top:70px;
  left:430px;
  color:red;
  animation: red-cycle 1s infinite, bob 3s infinite ease;
  display:none;
}

.heart-particle {
  animation: red-cycle 1s infinite, bob 3s infinite ease;
  display:none;
}

.misc-particle {
  display: none;

}

.red-color-cycle {
  animation: red-cycle 2s infinite;
}

.color-cycle-green-spin {
  animation: green-cycle  3s infinite, spin 3s infinite;
}

.color-cycle-green {
  animation: green-cycle  3s infinite;
  font-weight: bold;
}

.color-cycle-blue {
  animation: blue-cycle 2s infinite, cloud-drift 7s infinite;
}

.color-cycle-yellow {
  animation: yellow-cycle 1s infinite;
}

.orbit-a {
  animation: floating 7s infinite linear, color-cycle-bright 3.5s infinite ease;
  transition-duration: 0.3s;
  width:500px;
}

.orbit-a-flipped {
  animation: floating2 3s infinite linear, color-cycle-bright 3.5s infinite ease; 
  transition-duration: 0.3s;
  width:500px;
}

.glow {
  text-shadow: 3px 3px 1px rgb(110, 188, 202);
}

.color-cycle-slow {
  animation: color-cycle-bright 8s infinite;
}


#top-scroll {
  position: fixed;
  top: 0px;
  left:0;
  color: rgb(0, 140, 255);
  /* width:500px; */
  height:20px;
  background-color:rgba(0, 0, 0, 1);
  text-align: center;
  padding: 0px 10px;
  z-index: 100;
  font-weight: bold;
}

#bottom-scroll {
  position: fixed;
  bottom: 0px;
  left:50%;
  white-space: pre;
  overflow: hidden;
  margin-left: -400px;
  background: rgb(16, 255, 16);
  width:800px;
  height:20px;
  color:rgb(0, 0, 0);
}