body {
  background-color: rgb(30, 0, 0);
  color: rgb(63, 33, 33);
  font-family: monospace;
  animation: color-cycle-bright 3s infinite;
  font-size:16px;
  overflow: hidden;
}

pre {
  position: absolute;
  color: black;
}

@keyframes floating {
  0% { transform: translate(0px, -8px);}
  25% { transform: translate(8px, 0px)}
  50% { transform: translate(0px, 8px)}
  75% { transform: translate(-8px, 0px)}
  100% { transform: translate(0px, -8px);}
}
@keyframes floating2 {
  0% {transform: scale(-1,1);}
  50% {transform: scale(-1.1,1);}
  100% {transform: scale(-1,1);}
  /* 0% { transform: translate(0px, -8px), scale(-1,1);}
  25% { transform: translate(8px, 0px), scale(-1,1);}
  50% { transform: translate(0px, 8px), scale(-1,1);}
  75% { transform: translate(-8px, 0px), scale(-1,1);}
  100% { transform: translate(0px, -8px), scale(-1,1);} */
}


@keyframes color-cycle-bright {
  0% { color: rgb(255, 132, 153);}
  20% { color: yellow;}
  40% { color: lightgreen;}
  60% { color: lightskyblue;}
  80% { color: violet;}
  100% { color: rgb(255, 132, 153);}
}

@keyframes red-cycle {
  0% { color: rgb(255, 132, 153);}
  50% { color: rgb(255, 30,30);}
  100% { color: rgb(255, 132, 153);}
}

@keyframes green-cycle {
  0% { color: rgb(153, 255, 132);}
  50% { color: rgb(49, 175, 112);}
  100% { color:rgb(153, 255, 132);}
}

@keyframes bob {
  0% { transform: translate(0,-4px);}
  50% { transform: translate(0, 4px);}
  100% { transform: translate(0,-4px);}
}

#column {
  width:900px;
  margin:0 auto;
  height:800px;
  position: relative;
}

#left-guy {
  position: absolute;
  width:300px;
  height:300px;

}


#right-guy {
  position: absolute;
  width:300px;
  height:300px;

}

#heart {
  top:70px;
  left:430px;
  color:red;
  animation: red-cycle 1s infinite, bob 3s infinite ease;
  display:none;
}

.heart-particle {
  animation: red-cycle 1s infinite, bob 3s infinite ease;
  display:none;
}

.misc-particle {
  display: none;
}

.red-color-cycle {
  animation: red-cycle 2s infinite;
}

.color-cycle-green {
  animation: green-cycle  3s infinite;
}

.orbit-a {
  animation: floating 7s infinite linear, color-cycle-bright 3.5s infinite ease;
  transition-duration: 0.3s;
  width:500px;
}

.orbit-a-flipped {
  animation: floating2 3s infinite linear, color-cycle-bright 3.5s infinite ease; 
  transition-duration: 0.3s;
  width:500px;
}

.glow {
  text-shadow: 3px 3px 1px rgb(110, 188, 202);
}

.color-cycle-slow {
  animation: color-cycle-bright 8s infinite;
}


#bottom-scroll {
  position: fixed;
  bottom: 0px;
  left:50%;
  margin-left: -250px;
  background: green;
  width:500px;
  height:20px;
  color:white;
}