:root {
  --black: #30140e;
  --deep-red: #790e06;
  --medium-red: #532c29;
  --white: hsl(60, 30%, 90%);
  --white-link: #fff;
}

@font-face {
  font-family: "open-sans";
  src: url("opensans.ttf");
}

body {
  font-family: open-sans;
  font-size: 15px;
  color: var(--white);
  background: #080402;
  margin: 0;
  padding: 0;
}

a {
  color: var(--white-link);
}

a:hover {
  color: var(--white) !important;
}

a:visited {
  color: var(--white-link);
}

h1 {
  font-size: 2em;
  font-weight: 600;

}

h2 {
  font-size: 1.5em;
  font-weight: 600;

}

h3 {
  font-size: 1.3em;
  font-weight: 400;
}

.center {
  text-align: center;
}


#container {
  background: url(images/tiles/dark_backgroundtile.png);
  margin: 0 auto;
  width: 1000px;
}

#container-large {
  margin: 0 auto;
}

#main-header {
  background-image: url('images/headerbg.jpg');
  background-size: cover;
  text-align: center;
  padding: 20px;
  border-bottom: 5px ridge var(--deep-red);
}

#column {
  padding: 20px;
}

#footer-text{
  font-family: monospace;
  color: #864a45;
}

#menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;

}

#menu .item {
  height: 55px;
  font-size: 30px;
  grid-column: span 2;
  border: 5px ridge #95a079;

  text-align: center;
  display:flex;
  align-items:center;
  border-radius: 10px 10px;
  justify-content: center;
  text-shadow: 3px 3px 3px #000000;
}

#menu .item:hover {
  border: 5px ridge #5c6446;
}

#menu a {
  text-decoration: none;
}

#menu a:hover {
  text-decoration: underline;
}

#menu-blog {
  background: url(images/tiles/q1greenbrick.png);
  line-height: 70%;
  /* padding-top: 10px !important; */
}

.menu-blog-small {
  font-size:15px;
}

#menu-projects {
  background: url(images/tiles/q1copper.png);
}

#menu-links {
  background: url(images/tiles/q1blue.png);
}

#menu-rpg {
  background: url(images/tiles/rpgtexture.JPG)
}

#menu-extra {
  background: url(images/tiles/q1brick.png)
}

#menu-contact {
  background: url(images/tiles/q1cracks.png)
}

#sub-menu {
  display: flex;
  padding: 5px 6px;
  flex-direction: row-reverse;
  background: rgb(57, 22, 14);
  border-top: 5px ridge var(--deep-red);
  border-bottom: 5px ridge var(--deep-red);
}

#sub-menu .item {
  margin-left: 5px;
  border-radius: 5px 5px;
  padding: 5px 10px;
  background: var(--medium-red);
}

#sub-menu .item a {
  text-decoration: none;
  /* font-weight: 600; */
  font-size: 18px;
}

#sub-menu .item a:hover {
text-decoration: underline;
}

#sub-menu-title {
  margin-left: 5px;
  padding: 5px;
  font-size: 20px;
}

.email {
  font-weight: 600;
}

.tile-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.tile-grid img {
  width: 100%;
}

#projects-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 0.33fr));
  justify-content: center;
  grid-auto-flow: row dense;
  gap: 30px;
}

#projects-box > div {
  background: var(--black);
  border-radius: 10px 10px;
  padding: 10px;
  border-top: 5px ridge #7a4844;
  border-bottom: 5px ridge var(--medium-red);
  margin-bottom: 50px;
}

#projects-box h2 {
  margin-top: 0px;
  color: white;
}

#projects-box .span-2 {
  grid-column: span 2;
}


ul.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.gallery li {
  list-style-type: none;
  height: 23vh;
  flex-grow: 1;
}

.gallery li:last-child {
  flex-grow: 10;
}

.gallery img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.double-image img {
  /* width: 162px; */
  margin-right:5px;

  margin-bottom: 10px;
  vertical-align: middle;
  /* image-rendering: pixelated; */
}

ul.image-list {
  padding-left:0;
}

.image-list li {
  margin-bottom: 15px;
  list-style-type: none;
  margin-left: 0;
}

.links-grid {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 0.33fr));
  grid-auto-rows: minmax(50px, auto);
  grid-auto-flow: dense;
  gap: 20px;
  justify-content: center;
}

.links-grid li {
  margin-bottom: 10px;
}

.links-grid h2 {
  font-style: italic;
  margin: 5px;
}

.links-grid > div {
  background: #482e28;
  border-radius: 10px 10px;
  padding: 10px;
  border: 1px solid grey;
}