body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: cordata;
  color:aquamarine;
  text-shadow: 2px 2px 2px black;
}

  .pulse {
    image-rendering: pixelated;
    animation-name: light-pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
   
  } 

@font-face {
  font-family: cordata;
  src: url('Web437_Cordata_PPC-400.woff');
}

#ui-bottom {
  position: fixed;
  padding-top:10px;
  padding-bottom: 10px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: 130px;
  border-top: 10px ridge rgb(170, 104, 18);
  background: url(images/wood1.png);
  z-index: 20;
  text-align: center;
}

#inventory-tray {
  z-index: 30;
  width:996px;
  height:128px;
  margin-left: -498px;
  position: absolute;
  left: 50%;
  background-image: url(images/inventory_tray2.png);
}

#inventory-container {
  position: absolute;
  left: 30px;
  right:30px;
  top: 25px;
  bottom:25px;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.inventory-item img {
  filter: drop-shadow(-3px 1px 5px rgba(26, 26, 26, 1));
}

.inventory-item .counter {
  position: relative;
  left:0px;
  right:0px;
  bottom: 15px;
  height: 20px;
  font-size:22px;
  color: white;
  text-shadow: 1px 1px 3px black;
}

#world {
  cursor: pointer;
}

.three-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  height: 100%;
  position: relative;
}

.three-column > div {
  height: 100%;
}

.desert-row {
  background-image: url(images/desert_bg.jpg);
  background-repeat:repeat-x;
  height: 603px;
  
}

.center {
  text-align: center;
}

.bottom-left {
  position:absolute;
  bottom: 0px;
  left: 20px;
}

.bottom-right {
  position:absolute;
  bottom: 0px;
  right: 25px;
}


.character {
  z-index: 10;
  position: absolute;
  top:0;
  left:0;
  transform: translate(300px, 0);
  /* border: 1px solid white; */
}

.glow {
  filter: drop-shadow(1px 3px 5px rgba(248, 248, 248, 0.95));
}

.glow-friendly {
  filter: drop-shadow(1px 3px 5px rgba(102, 214, 248, 0.95));
}

.glow-enemy {
  filter: drop-shadow(1px 3px 5px rgba(248, 112, 102, 0.95));
}

.ui-title {
  /* border: 1px solid green; */
  /* position: absolute; */
  bottom: -10px;
  color: white;
  text-align: center;
  text-shadow: 3px 3px 3px black;
  background: rgba(0,0,0,0.3);
  padding: 3px;
  z-index: 1;
  position: relative;
}

#main-character {
  width: 70px;
  height: 110px;
}

@keyframes light-pulse {
  0% { transform: scale(1);}
  50% { transform: scale(1.2)}
  100% { transform: scale(1)}
}