.reading-column {
  width: 800px;
  margin: 0 auto;
}

.text-link {
  font-size: 1.2em;
  color:  white;
  font-weight: bold;
}

a {
  color:  #ffd;
}

h2 {
  font-size: 1.25em;
}

body {
  font-size: 18px;
  background-color: #222;
  color: white;
}