/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: rgb(24, 17, 14);
  /* background-image: url('../images/bg_diamond.png'); */
  background-position: top;
  font-size: 16 px;
  font-family: OpenSans, Georgia, "Times New Roman", serif;
  margin: 0;
  color: #fee;
}

@font-face {
  font-family: OpenSans;
  src: url("OpenSans-VariableFont_wdth\,wght.ttf");
  /* src: url("OpenSans-Italic-VariableFont_wdth\,wght.ttf"); */
}

p {
  line-height: 1.6em;
  /*I find the default HTML line-height tends to be a bit claustrophobic for main text*/
}

em {
  font-weight: bolder;
}

code {
  background-color: rgba(0,0,0,0.4);
  padding: 5px;
  border-radius: 2px 2px;
}

hr {
  border: solid #c7b591;
  border-width: 2px 0 0 0;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0.5em auto;
}

.right {
  float: right;
  margin-left: 1em;
}

.left {
  float: left;
  margin-right: 1em;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .small {
    max-width: 60%;
    height: auto;
  }
}

.caption {
  margin-top: 0;
  font-size: 0.9em;
  font-style: italic;
}

a {
  color: #89f;
}

a:visited {
  color: #c9f;
}

a:hover {
  color: #55f;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Tahoma, Geneva, sans-serif;
  color: #fff;
}

/*#CONTAINER is the rectangle that contains everything but the background!*/
#container {
  margin: 3em auto;
  width: 90%;
  max-width: 900px;
  background-color: #343030;
  color: #fee;
  border-radius: 10px 10px;
  /* outline-color: #a9a9a9;
  outline-style: ridge;
  outline-width: 4px;
  outline-offset: 0; */
}

#content {
  padding: 10px 5% 20px 5%;
}


/*HEADER STYLE*/
#header {
  background-color: rgb(57, 22, 14);
  padding: 0 5%;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 5px ridge #790e06;;
  /* border-color: #a9a9a9;
  border-style: ridge;
  border-width: 0 0 4px 0; */
}

#header ul {
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0;
}

#header li {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

#header li a {
  color: #fff;
  text-decoration: none;
  background-color: inherit;
}

#header li a:hover {
  text-decoration: underline;
}

/*POST LIST STYLE*/
#postlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: none;
}

#recentpostlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: none;
}

.moreposts {
  font-size: 0.8em;
  margin-top: 0.2em;
}

/*NEXT AND PREVIOUS LINKS STYLE*/
#nextprev {
  text-align: center;
  margin-top: 1.4em;
}

/*DISQUS STYLE*/
#disqus_thread {
  margin-top: 1.6em;
}

/*FOOTER STYLE*/
#footer {
  font-size: 0.8em;
  padding: 0 5% 10px 5%;
}



ul.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.gallery li {
  list-style-type: none;
  height: 40vh;
  flex-grow: 1;
}

.gallery img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}